
//colors
$background-color: #ffffff;
$text-color: #003333;
$accent-color: #007AFF;
$border-color: #F2F2F2;

//spacing
$standard-spacing: 1rem;
$l-spacing: 1.5rem;
//paddings

$standard-padding: 1rem;
$l-padding: 1.5rem;
//border-radius

$standard-border: 0.5rem;


//box-shadow-colors

$box-shadow-color: rgba(0, 0, 0, 0.15);